:host {
  position: relative;

  app-line-plot {
    width: 100%;
    height: 100%;
  }

  .plot-overlay {
    position: absolute;
    color: red;

    .red-default-overlay-item {
      width: 300px;
    }

    .red-minimized-overlay-item {
      width: 100px;
      display: flex;
      justify-content: center;
    }
  }
}
